body {
  background-color: #F4F7F6;
  font-family: "Roboto", serif;
  font-size: 14px;
  color: #202121;
}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.test {
  background-color: tomato;
  height: 250px;
  width: 250px;
}

.controlPanel {
  display: grid;
  padding: 0 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: repeat(185px);
}

.tagPanel {
  text-align: center;
  padding: 15px 0;
}

.tagPanel > h2 {
  font-weight: 700;
  font-size: 1em;
  margin: 0;
  margin-bottom: 10px;
}

.tagPanel input {
  padding: 5px 10px;
  width: 250px;
  margin: 0;
  border-radius: 3px;
  border: 0;
}

.tagPanel input:focus {
  outline-color: #389C90;
}

.controlStart {
  text-align: center;
  padding: 15px 0;
}

.controlStartBtn {
  background-color: #389C90;
  color: #F4F7F6;
  border: 0;
  outline: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  width: 50%;
  height: 100%;
  transition: all ease .5s;
}

.controlStartBtn:hover {
  background-color: #3fafa1;
}

.startTime {
  text-align: center;
  padding: 15px 0;
}

.startTime h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 3em;
}

.fa {
  margin-right: 10px;
}

.cell {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: repeat(auto-fill, 75px);
  border-bottom: 2px solid #389C90;
}

.timePt {
  font-size: 1.25em;
  text-align: center;
  padding: 13px 0;
}
