$main-black: #202121;
$main-white: #F4F7F6;
$main-green: #389C90;
$main-red: #FB9E5A;

body {
    background-color: #F4F7F6;
    font-family: "Roboto", serif;
    font-size: 14px;
    color: #202121;
}

.wrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.controlPanel {
    display: grid;
    padding: 0 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: repeat(185px);
}

.tagPanel {
    text-align: center;
    padding: 15px 0;
}

.tagPanel > h2 {
    font-weight: 700;
    font-size: 1em;
    margin: 0;
    margin-bottom: 10px;
}

.tagPanel input {
    padding: 5px 10px;
    width: 250px;
    margin: 0;
    border-radius: 3px;
    border: 0;
}

.tagPanel input:focus {
    outline-color: $main-green;
}

.controlStart {
    text-align: center;
    padding: 15px 0;
}

.controlStartBtn {
    background-color: $main-green;
    color: $main-white;
    border: 0;
    outline: 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
    width: 50%;
    height: 100%;
    transition: all ease .5s;
}

.controlStartBtn:hover {
    background-color: lighten($main-green, 5%);
}

.fa {
    margin-right: 10px;
}

.cell {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    grid-template-rows: repeat(auto-fill, 75px);
    background-color: $main-green;
    color: $main-white;
}

.timePt {
    font-size: 1.25em;
    text-align: center;
    padding: 13px 0;
}

.cellSb {
    text-align: center;
    display: grid;
    padding-left: 100px;
    grid-template-columns: 33% 66%;
    grid-template-rows: 100%;
}

.cellSb div{
    display: inline-block;
    font-size: 2em;
    padding: 20px 0;
}

.cellSb div:first-child {
    text-transform: uppercase;
}

.subCell {
    height: 35px;
    font-size: 1.25em;
    text-align: center;
}

.subCell p{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.workBreakLabel {
    text-align: center;
    padding: 15px 0;
}

.workBreakLabel h2,
.workBreakLabel p{
    margin: 0;
    padding: 0;
}