body {
  background-color: #F4F7F6;
  line-height: 1.45;
}

.app {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.chunck:nth-child(2n) {
  display: inline-block;
  margin-bottom: 25px;
}

.timeRow {
  display: grid;
  grid-template-columns: 30% 40% 15% 15%;
  grid-template-rows: repeat(auto-fill, 75px);
  background-color: #389C90;
  color: #F4F7F6;
  text-align: center;
}

.timeRow > div {
  font-size: 2em;
  padding: 20px 0;
}


.workTime .timer {
  font-size: 1em;
}

.timeRow > .startChunck,
.timeRow > .finishChunck {
  font-size: 1.25em;
  padding: 13px 0;
}

.tagLabel {
  text-transform: uppercase;
}

.breakTimer {
  padding: 5px 0;
  font-size: 1.25em;
  text-align: center;
}

.controlPanel {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  padding: 35px 100px;
}