*{
  box-sizing: border-box;
}

body {
  background-color: #F4F7F6;
  line-height: 1.45;
  font-size: 14px;
}

.app {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
}



.viewResizer {
  left: 0 !important;
  width: 10px;
  min-height: 500px;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  cursor: col-resize;
  background: #343436;
}

.notepad {
  width: 49%;
  vertical-align: top;
  display: inline-block;
  padding: 0 5px;
}

.page {
  vertical-align: top;
  display: inline-block;
  width: 49%;
  padding: 0 5px;
}

.notepadInput {
  outline-color: #389C90;
  font-family: 'Roboto';
  font-size: 1em;
  padding: 7.5px;
  width: 100%;
  min-height: 350px;
  max-height: 500px;
  resize: none;
}

.chunck:nth-child(2n) {
  display: inline-block;
  margin-bottom: 25px;
}

.timeRow {
  display: grid;
  grid-template-columns: 30% 40% 15% 15%;
  background-color: #389C90;
  color: #F4F7F6;
  text-align: center;
}

.timeRow > div {
  font-size: 1.25em;
  padding: 15px 0;
}


.workTime .timer {
  font-size: 1em;
}

.timeRow > .startChunck,
.timeRow > .finishChunck {
  font-size: 1em;
  padding: 7.5px 0;
}

.tagLabel {
  text-transform: uppercase;
}

.tagPanel {
  text-align: center;
  padding: 15px 0px;
}

.tagPanel > h2 {
  font-weight: 700;
  font-size: 1em;
  margin: 0px 0px 10px;
}

.tagPanel input {
  padding: 7.5px 10px;
  width: 250px;
  margin: 0;
  border-radius: 3px;
  border: 0;
}

.tagPanel input:focus {
  outline-color: #389C90;
}

.controlBtn {
  text-align: center;
  padding: 20px 0px;
}

.controlBtn > button {
  background-color: #389C90;
  font-weight: bold;
  color: #F4F7F6;
  border: 0;
  outline: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  width: 50%;
  height: 65px;
  transition: all ease .5s;
}

.controlBtn > button > .fa {
  margin-right: 10px;
}

.controlBtn > button:hover {
  background-color: rgb(63, 175, 161);
}

.controlEfficency{
  text-align: center;
  padding: 15px 0px;
}

.controlEfficency >  .effLabel {
  font-size: 2em;
}

.breakTimer {
  padding: 5px 0;
  font-size: 1.25em;
  text-align: center;
}

.controlPanel {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  padding: 35px 100px;
}

.controlTable {
  transition: all ease-in-out 0.3s;
}

[contenteditable="true"] {
  background-color: #FB9E5A;
  outline: none;
}

.toggleCanvasButton {
  position: absolute;
  top: 7.5px;
  left: 135px;
}