*{
  box-sizing: border-box;
}

body {
  background-color: #F4F7F6;
  line-height: 1.45;
  font-size: 14px;
}

.app {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
}

.chunck:nth-child(2n) {
  display: inline-block;
  margin-bottom: 25px;
}

.timeRow {
  display: grid;
  grid-template-columns: 30% 40% 15% 15%;
  grid-template-rows: repeat(auto-fill, 75px);
  background-color: #389C90;
  color: #F4F7F6;
  text-align: center;
}

.timeRow > div {
  font-size: 2em;
  padding: 20px 0;
}


.workTime .timer {
  font-size: 1em;
}

.timeRow > .startChunck,
.timeRow > .finishChunck {
  font-size: 1.25em;
  padding: 13px 0;
}

.tagLabel {
  text-transform: uppercase;
}

.tagPanel {
  text-align: center;
  padding: 15px 0px;
}

.tagPanel > h2 {
  font-weight: 700;
  font-size: 1em;
  margin: 0px 0px 10px;
}

.tagPanel input {
  padding: 7.5px 10px;
  width: 250px;
  margin: 0;
  border-radius: 3px;
  border: 0;
}

.tagPanel input:focus {
  outline-color: #389C90;
}

.controlBtn {
  text-align: center;
  padding: 20px 0px;
}

.controlBtn > button {
  background-color: #389C90;
  font-weight: bold;
  color: #F4F7F6;
  border: 0;
  outline: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  width: 50%;
  height: 65px;
  transition: all ease .5s;
}

.controlBtn > button > .fa {
  margin-right: 10px;
}

.controlBtn > button:hover {
  background-color: rgb(63, 175, 161);
}

.controlEfficency{
  text-align: center;
  padding: 15px 0px;
}

.controlEfficency >  .effLabel {
  font-size: 2em;
}

.breakTimer {
  padding: 5px 0;
  font-size: 1.25em;
  text-align: center;
}

.controlPanel {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  padding: 35px 100px;
}